{% extends "layout.html" %}

{% block css_files %}    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" />  
{% endblock %}


{% block  page_title %}Google Map Deneme Sayfası{% endblock %}



{% block content %}
        <div class="container mt-3">
                <div class="row">
                        <!--Menu-->
                <div class="col-1  bg-light  border border-secondary        "> </div>
        
                <div class="col-10 bg-secondary border border-danger">
                <h1>Google Map Denemesi</h1>

                <!--GOOGLE MAP KODU BAŞLANGIÇ-->
                <h1>STEPS</h1>
                 <li>Generate Api Key</li>
                 <li>Restrict Api Key</li>

                 <li>open a billing account</li>
                 <li>generate a billing account</li>


                <!--GOOGLE MAP KODU BİTİŞ-->



                </div>

                <div class="col-1  bg-light  border border-secondary "> </div>


                </div>
        </div>
{% endblock  %}


{% block js_files %}   {% endblock %}
